* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/*=================== nav section start =============================================*/
.navbar-brand {
    font-size: 2rem;
    font-family: 'Allura', cursive;
    color: red;
  }
  
  .nav-link {
    color: rgb(10, 10, 94);
  }
  
  .nav-link:hover {
    color: red;
    transition: 0.3s;
  }
  
  .nav-item {
    color: rgb(10, 10, 94);
    font-weight: 500;
    padding-left: 35px;
  }
  
  .btn0 {
    height: 52px;
    width: 130px;
    outline: none;
    border: none;
    color: white;
    cursor: pointer;
    transition: all 0.4s;
    background-color: rgb(248, 83, 83);
  }
  
  .btn0:hover {
    background-color: rgb(214, 11, 11);
    transition: all 0.4s;
  }
  
  .btn1 {
    height: 52px;
    width: 130px;
    background-color: transparent;
    color: rgb(248, 20, 20);
    outline: none;
    border: 2px solid rgb(248, 20, 20);
  }
  
  .btn1:hover {
    background-color: rgb(214, 11, 11);
    transition: all 0.4s;
    color: white;
    border: none;
    outline: none;
  }
  
  /*=================== nav section end =============================================*/




body {
    background: #007bff;
}

h1 {
    text-align: center;
    margin: 50px auto 120px;
    color: white;
}

.main {
    width: 100%;
    min-height: 380px;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.service {
    background: white;
    padding: 30px;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    z-index: 1;
    box-shadow: 0 0 20px -15px #030380;
}

.service-logo {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: -90px auto 0;
    background: white;
    border: 18px solid #007bff;
}

.service-logo img {
    width: 50px;
    margin-top: 20px;
}

.service h4 {
    height: 35px;
    width: 80%;
    background: white;
    margin: 50px auto;
    position: relative;
}

.service h4::after {
    content: '';
    height: 30px;
    width: 40px;
    background: linear-gradient(to right, white, #007bff);
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: -1;
}

.service h4::before {
    content: '';
    height: 30px;
    width: 40px;
    background: linear-gradient(to right, #007bff, white);
    position: absolute;
    left: -5px;
    bottom: -5px;
    z-index: -1;
}


}
.main :hover .service {
    transform: translatey(-50px);
}
.main :hover .shadowone {
    transform: translatey(-25px);
}


/*===================footer section=============================================*/

.footer {
    background: #121626;
    color: white;
 }
 .footer p {
    margin: 0;
    color: #696969;
 }
 .link {
    color: #6b6b72;
    transition: all 0.4s;
 }

 .link:hover {
    color: #ff2962;
    padding-left: 10px;
    transition: all 0.4s;
    cursor: pointer; 
 }
 .footer input {
    height: 45px;
    width: 70%;
    padding: 10px 10px;
    border: none;
    outline: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
 }

 .footer button {
height: 45px ;
width: 20%;
border: none;
outline: none;
padding-left: -12px;
border-top: #ff2962; 
background: #ff2962;
color: white;
margin-top: 40px;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;


}
/*===================footer section=============================================*/